.idea
node_modules

.DS_Store
/bower_components/

# Yarn 4 (mode node-modules : on ignore le cache et l'état d'install)
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
